<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME PAGE</title>
  </head>
  <body>
    <h1 id="head">YOU CAN ACESS THE DATA OF ALL THE USERS</h1>
   <a href="/logout">Logout</a>
  <table> 
      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>password</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(el) { %>
        <tr>
          <td><%= el.name %></td>
          <td><%= el.email %></td>
          <td><%= el.password %></td>
          <td><a href="/update/<%=el._id%>">UPDATE</a></td>
          <td><a href="/delete/<%=el._id%>">DELETE</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
